body {
    background: #f2f2f2;
    font-family: Arial; Sans-serif;
}

div {
    margin: 20px 0;
}

.btn {
    background: #32021f;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    margin: 0 10px;
}

.btn:hover {
    opacity: .8;
}

/* Tamanos */
.small {
    font-size: 10px;
    padding: 10px 15px;
}

.medium {
    font-size: 16px;
    padding: 15px 20px;
}

.big {
    font-size: 18px;
    padding: 20px 25px;
}

.extra-big {
    font-size: 25px;
    padding: 25px 30px;
}

.azul {background: #246eb9;}
.verde {background: #4fb500;}
.naranja {background: #f9a03f;}

.border-radius {
    border-radius: 100px;
}